/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body style */
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Header style */
  h1 {
    color: white;
    text-align: center;
    padding: 20px;
  }

  /* Navigation style */
  .navigation-menu {
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .navigation-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    transition: 0.3s;
    font-size: 18px;
  }

  .navigation-menu a:hover {
    background-color: #ffffff;
    color: #a749ff;
  }
  
  /* Container style */
  .container {
    margin: 0 auto;
    max-width: 1100px;
  }
  
  /* Team section style */
  section {
    margin-top: 50px;
  }
  
  /* Team member card style */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  
  /* Team member image style */
  .rounded-circle {
    border-radius: 50%;
  }
  
  /* Team member name style */
  h3 {
    margin-top: 10px;
  }
  
  /* Team member role style */
  p {
    margin-bottom: 10px;
  }
  
  /* LinkedIn link style */
  a {
    color: #866bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #552fff;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  /* Footer style */
  footer {
    background-color: #281870;
    color: white;
    text-align: center;
    padding: 10px 0;
  }