
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #281870;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.hotbar {
    background-color: #281870;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
}

.hotbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    transition: 0.3s;
    font-size: 18px;
}

.hotbar a:hover {
    background-color: #ffffff;
    color: #a749ff;
}

.survey-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.question {
    margin-bottom: 15px;
}

.submit input {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit input:hover {
    background-color: #45a049;
}
h1 {
    margin: 0;
}
nav {
    background-color: #281870;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
section {
    margin-bottom: 30px;
}
h2 {
    color: #ffffff;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

footer {
    background-color: #281870;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}